---
import Logo from "~/components/svg/Logo.astro";
import Menu from "~/components/svg/icons/Menu.astro";
---

<header class="px-4 pt-7">
  <div class="flex items-center justify-between">
    <a href="/" aria-label="Go to homepage">
      <Logo class="h-7 w-11.25" aria-hidden="true" focusable="false" />
    </a>

    <button type="button" aria-label="Open menu">
      <Menu class="h-4.25 w-10" aria-hidden="true" focusable="false" />
    </button>
  </div>
</header>
